.mainContainer {
  background-color: lightblue;
  display: "flex";
  text-align: center;
  align-items: "center";
  justify-content: "top";
  flex-direction: "column";
  gap: "25px";
  height: "10vh";
  width: "100%"
}

.sliderContainer {
  background-color: aliceblue;
  display: "flex";
  padding-left: "30px";
  text-align: center;
  align-items: "center";
  justify-content: "top";
  flex-direction: "row";
  height: "1500px"
}

.contentContainer {
  background-color: aquamarine;
  display: "flex";
  align-items: "center";
  justify-content: "top";
  flex-direction: "row";
  gap: "25px";
  height: "100vh"
}